html, body {
  background-color: #fec201;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

h1{
  position: relative;
  font-size: 40px;
  bottom: 250px;
}

.circle_style {
    transform: rotate(-90deg);
    stroke-width: 21;
    fill: transparent;
    cy: 200px;
    cx: 200px;
}

.fifth {
  stroke: #290d22;
}

.forth {
  stroke: #571745;
}

.third{
  stroke: #8f143e;
}

.second{
  stroke: #c72239;
}

.first{
  stroke: #fe5733;
}

.progress-ring__circle {
  transition: 1s stroke-dashoffset;
  transition-timing-function: linear;
  // axis compensation
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.menu_container{
  display: flex;
}

button{
  margin: 20px 30px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #f1f1f1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover{
  background-color: #f1eeee
}

button:active{
  background-color: #cccbcb;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
